/* Datos personales: Didier Reyes Castro - UO287866 */
/* Color palette: https://www.canva.com/colors/color-palettes/summer-splash/ */

/* Especificidad: 001 */
button {
    display: block;
    margin-bottom: 2em;
}

/* Especificidad: 012 */
main>section:first-of-type {
    display: flex;
    align-items: center;
}

/* Especificidad: 013 */
main>section:first-of-type img {
    width: 100%;
    height: auto;
    max-width: 10em;
    margin-right: 2em;
}

/* Especificidad: 013 */
main>section:first-of-type h3 {
    font-size: 2em;
    color: #ee0000;
    /* Warning en el Validador CSS: "Ningún background-color establecido pero si un color"
    Herencia de background-color:#D4F1F4 de body (en el estilo.css) 
    */
    font-weight: bold;
}

/* Especificidad: 012 */
main>section:not(:nth-of-type(1)) {
    border: solid 0.1em black;

    /* Warning en el Validador CSS: "Ningún color establecido pero si un background-color"
        Herencia de color:black de <p> (en el estilo.css) y los colores de los hx son definidos
        en esta hoja de estilo 
    */
    background-color: white;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    max-width: 50em;
    margin-bottom: 1em;
}

/* Especificidad: 013 */
main>section:not(:nth-of-type(1))>h4 {
    background-color: #ee0000;
    color: white;
    font-size: 1.2em;
    flex: 1 100%;
    text-align: center;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: solid 0.1em black;
}

/* Especificidad: 013 */
main>section:not(:nth-of-type(1))>img {
    width: auto;
    max-height: 5em;
}

/* Especificidad: 014 */
main>section:not(:nth-of-type(1))>section>h5 {
    font-size: 1em;
    margin-bottom: 0.5em;
    /* Warning en el Validador CSS: "Ningún background-color establecido pero si un color"
        Herencia de background-color:white de  main>section:not(:nth-of-type(1)) definido en
        esta hoja de estilo
    */
    color: #ee0000;
}


@media all and (max-width: 650px) {

    /* Especificidad: 012 */
    main>section:not(:nth-of-type(1)) {
        flex-direction: column;
    }

    /* Especificidad: 013 */
    main>section:not(:nth-of-type(1))>h4 {
        padding-left: 1em;
        padding-right: 1em;

        /* Warning:"Redefinition of margin-top y margin-botton" 
            Se está redefiniendo las propiedades margin top y bottom que previamente
            habían sido aplicadas en el selector anterior de h4 (margin:0). Se ha
            hecho esto para dar un mejor aspecto en cuanto a la adaptabilidad en
            dispositivos con resoluciones bajas
            (se muestra el numero de carrera mas espaciado) */
        margin-top: 1em;
        margin-bottom: 1em;

        /* Warning:"Redefinition of border-bottom-color,-style,-width" 
            Se está "redefiniendo" las propiedades border-bottom que
            habían sido aplicadas en el selector anterior de h4 
            (border-bottom: solid 0.1em black;). Se ha hecho esto para dar un mejor 
            aspecto en cuanto a la adaptabilidad en dispositivos con resoluciones bajas
            (se pasa a tener todo el contorno solido en negro) */
        border: solid 0.1em black;

        /* Warning:"Redefinition of color and background" 
            Se está redefiniendo las propiedades color y background-color que previamente
            habían sido aplicadas en el selector anterior de h4 (color:white, background-color:red). 
            Se ha hecho esto para dar un mejor aspecto en cuanto a la adaptabilidad en
            dispositivos con resoluciones bajas.
            (se hace un efecto de "hueco" con cada tarjeta de carrera) */
        background-color: #D4F1F4;
        color: black;

        border-radius: 5em;
    }

    /* Especificidad: 013 */
    main>section:not(:nth-of-type(1))>section {
        text-align: center;
    }

}