/* Datos personales: Didier Reyes Castro - UO287866 */
/* Color palette: https://www.canva.com/colors/color-palettes/summer-splash/ */

/* Especificidad: 001*/
main {
    max-width: 70em;
}

/* Especificidad: 002*/
main>section {
    border: solid 0.2em #05435e;
    padding: 1em;
    margin-bottom: 1em;
}

/* Especificidad: 012*/
main>section:first-of-type {
    display: flex;
    align-items: center;
    column-gap: 2em;
    flex-wrap: wrap;
}

/* Especificidad: 003-013*/
main>section>h4,
main>section:first-of-type>p {
    flex: 1 100%;
}

/* Especificidad: 003*/
main>section>p {
    /* Warning en el Validador CSS: "Ningún background-color establecido pero si un color"
        Herencia del background-color de estilo.css (el color de fondo del body: #D4F1F4)
    */
    color: #940000;
}

/* Especificidad: 013*/
main>section:first-of-type>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

/* Especificidad: 002*/
main h4 {
    font-size: 1.2em;
}

/* Especificidad: 002*/
main h5 {
    /* Warning en el Validador CSS: "Ningún background-color establecido pero si un color"
        Herencia del background-color de estilo.css (el color de fondo del body: #D4F1F4)
    */
    color: #05435e;
    font-size: 1em;
}

/* Especificidad: 033-013*/
main>section:nth-of-type(2)>section:nth-of-type(n+2):not(:last-of-type),
main>section:last-of-type>section {
    /* Warning en el Validador CSS: "Ningún color establecido pero si un background-color"
        Herencia de colores de esta hoja de estilos (h5) y de parrafos (estilo.css)
    */
    background-color: white;
    margin-top: 1em;
    border: solid 0.2em black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Especificidad: 034-014*/
main>section:nth-of-type(2)>section:nth-of-type(n+2):not(:last-of-type)>h5,
main>section:last-of-type>section>h5 {
    flex: 1 100%;
    /* Warning en el Validador CSS: "Ningún color establecido pero si un background-color"
        Herencia de colores de esta hoja de estilos (h5).
    */
    background-color: #75E6DA;
    margin: 0;
    padding: 1em;
}

/* Especificidad: 034-014*/
main>section:nth-of-type(2)>section:nth-of-type(n+2):not(:last-of-type)>p,
main>section:last-of-type>section>p {
    margin-left: 1em;
    margin-top: 0.5em;
}


@media all and (max-width: 650px) {

    /* Especificidad: 012*/
    main>section:first-of-type {
        flex-direction: column;
    }

    /* Especificidad: 013*/
    main>section:first-of-type>form {
        /* Warning en el Validador CSS: "Redefinicion de flex-wrap"
            Se pasa de nowrap (en esta misma hoja de estilo) a wrap para mejorar la visibilidad
            en dispositivos de resolucion baja.
        */
        flex-wrap: wrap;
    }

}