/* Datos personales: Didier Reyes Castro - UO287866 */
/* Color palette: https://www.canva.com/colors/color-palettes/summer-splash/ */

/* Especificidad: 001 */
body {
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
}

/* Especificidad: 001 */
h3 {
    text-align: center;
}

/* Especificidad: 001 */
main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 0;
    max-width: 40em;
    align-self: center;
}

/* Especificidad: 002 */
main>p {
    background-color: white;
    margin: 0;
    text-align: center;
    border: solid;
    border-width: 0.01em;
    font-size: 1.3em;
    padding: 0.5em 1em;
    border-color: black;
    border-width: 0.08em;
}

/* Especificidad: 012 */
main>p[data-state="empty"] {
    background-color: black;
}

/* Especificidad: 012 */
main>p[data-state="clicked"] {
    border: solid 0.1em red;
}

/* Especificidad: 012 */
main>p[data-i] {
    color: blue;
}

/* Especificidad: 012-012 */
body>section:nth-of-type(2),
body>section:nth-of-type(3) {
    border: none;
    display: flex;
    align-items: center;
}

/* Especificidad: 012 */
body>section:nth-of-type(2) {
    flex-direction: column;
}

/* Especificidad: 014 */
body>section:nth-of-type(2)>ol>li {
    margin-bottom: 1.3em;
}

/* Especificidad: 013 */
body>section:nth-of-type(2)>ol {
    font-size: 1.04em;
}

/* Especificidad: 012 */
body>section:nth-of-type(3) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1em;
}

/* Especificidad: 013 */
body>section:nth-of-type(3)>h4 {
    flex: 1 100%;
}


/* Especificidad: 011 */
section[data-type="botonera"] {
    display: none;
}

/* Especificidad: 001-011 */
button,
input[type="submit"] {
    padding: 0.5em 1em;
    background-color: #75E6DA;
    font-size: 1em;
    font-weight: 500;
    border: solid black 0.1em;
    border-radius: 0.2em;

}

/* Especificidad: 011 */
section[data-type="formulario"] {
    border: none;
    flex-direction: column;
    align-items: flex-start;
}

/* Especificidad: 011-001 */
input[name="tiempoDB"],
audio {
    display: none;
}

@media all and (max-width: 1400px) {

    /* Especificidad: 011 */
    section[data-type="botonera"] {
        border: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
    }

    /* Especificidad: 012 */
    section[data-type="botonera"]>h4 {
        flex: 1 100%;
    }

}

@media all and (max-width: 650px) {

    /* Especificidad: 002 */
    main>p {
        font-size: 1.2em;
        padding: 0.2em 0.5em;
    }

    /* Especificidad: 013 */
    body>section:nth-of-type(2)>ol {
        font-size: 1em;
    }

}