/* Datos personales: Didier Reyes Castro - UO287866 */
/* Color palette: https://www.canva.com/colors/color-palettes/summer-splash/ */

/* Especificidad: 001 */
body {
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
}

/* Especificidad: 001 */
h3 {
    text-align: center;
}

/* Especificidad: 001 */
main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 0;
    max-width: 40em;
    align-self: center;
}

/* Especificidad: 002 */
main>p {
    /* Warning en el Validador CSS: "Ningún color establecido pero si un background-color"
        Herencia de color por defecto asociado a todos los parrafos (estilo.css) 
    */
    background-color: white;
    margin: 0;
    text-align: center;
    border: solid;
    font-size: 1.3em;
    padding: 0.5em 1em;
    border-color: black;
    border-width: 0.08em;
}

/* Especificidad: 012 */
main>p[data-state="empty"] {
    /* Warning en el Validador CSS: "Ningún color establecido pero si un background-color"
        Herencia de color por defecto asociado a todos los parrafos (estilo.css).
        En este caso el bakcground y color son el mismo para representar una casilla que
        no se puede pulsar.
    */
    background-color: black;
}

/* Especificidad: 012 */
main>p[data-state="clicked"] {
    border: solid 0.1em red;
}

/* Especificidad: 012 */
main>p[data-i] {
    /* Warning en el Validador CSS: "Ningún background-color establecido pero si un color"
        Herencia de background-color:white de main>p (esa misma hoja) 
    */
    color: blue;
}

/* Especificidad: 012-012 */
body>section:nth-of-type(2),
body>section:nth-of-type(3) {
    border: none;
    display: flex;
    align-items: center;
}

/* Especificidad: 012 */
body>section:nth-of-type(2) {
    flex-direction: column;
}

/* Especificidad: 014 */
body>section:nth-of-type(2)>ol>li {
    margin-bottom: 1.3em;
}

/* Especificidad: 013 */
body>section:nth-of-type(2)>ol {
    font-size: 1.04em;
}

/* Especificidad: 012 */
body>section:nth-of-type(3) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1em;
}

/* Especificidad: 013 */
body>section:nth-of-type(3)>h4 {
    flex: 1 100%;
}

/* Especificidad: 001-011 */
button,
input[type="submit"] {
    padding: 0.5em 1em;
    /* Warning en el Validador CSS: "Ningún color establecido pero si un background-color"
        Herencia de color:black por defecto asociado a todos los botones (estilo.css) 
    */
    background-color: #75E6DA;
    font-size: 1em;
    font-weight: 500;
    border: solid black 0.1em;
    border-radius: 0.2em;

}

/* Especificidad: 011 */
section[data-type="formulario"] {
    border: none;
    flex-direction: column;
    align-items: flex-start;
}

/* Especificidad: 011-001-011 */
input[name="tiempoDB"],
audio,
section[data-type="botonera"],
body>section[data-state="form_time"],
main[data-state="form_time"] {
    display: none;
}

/* Especificidad: 012 */
body>section[data-type="record"] {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
    align-self: center;
}

@media all and (max-width: 1400px) {

    /* Especificidad: 011 */
    section[data-type="botonera"] {
        border: none;
        /* Warning en el Validador CSS: "Redifinition of display"
            Este valor se redefine para hacer visible la botonera que da paso a la
            introduccion de numeros y operaciones en dispositivos de resolucion
            baja -> Adaptabilidad! (pasa de display:none a display:flex)
        */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
    }

    /* Especificidad: 012 */
    section[data-type="botonera"]>h4 {
        flex: 1 100%;
    }

}

@media all and (max-width: 650px) {

    /* Especificidad: 002 */
    main>p {
        /* Warning en el Validador CSS: "Redifinition of font-size, padding"
            Todos estos valores se redefinen para mejorar la adaptabilidad en 
            dispositivos de resolucion baja. (en esta hoja de estilo)
            font-size: 1.3em -> 1.2em
            padding:  0.5em 1em -> 0.2em 0.5em
        */
        font-size: 1.2em;
        padding: 0.2em 0.5em;
    }

    /* Especificidad: 013 */
    body>section:nth-of-type(2)>ol {
        /* Warning en el Validador CSS: "Redifinition of font-size, padding"
            Todos estos valores se redefinen para mejorar la adaptabilidad en 
            dispositivos de resolucion baja. (en esta hoja de estilo)
            font-size: 1.04em -> 1em
        */
        font-size: 1em;
    }

}