/* Datos personales: Didier Reyes Castro - UO287866 */
/* Color palette: https://www.canva.com/colors/color-palettes/summer-splash/ */

/*Especificidad: 001*/
header {
    background-color: #75E6DA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    flex-wrap: nowrap;
    /* Warning en el Validador CSS: "Ningún color establecido pero si un background"
    Esto se resuleve con la herencia de estilo.css donde se establece el color de la fuente 
    */
}

@media all and (max-width: 465px) {

    /*Especificidad: 001*/
    header {
        /* En pantallas pequeñas la direccion del flexbox se cambia de row a
        column */
        flex-direction: column;
    }
}