/* Datos personales: Didier Reyes Castro - UO287866 */
/* Color palette: https://www.canva.com/colors/color-palettes/summer-splash/ */

/* Especificidad: 001 */
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Especificidad: 002 */
main>section {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 1em;
    max-width: 50em;
}

/* Especificidad: 003 */
main>section>h3 {
    text-align: center;
    margin-top: 0;
    flex: 1 100%;
}

/* Especificidad: 003 */
main>section article {
    border-radius: 0.4em;
    background-color: #75E6DA;
    /* Warning en el Validador CSS: "Ningún color establecido pero si un background-color"
        Herencia de color:#05435e de estilo.css para los h3) 
    */
    flex: 1 20%;
    height: 15em;
    width: 5em;
    margin: auto;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
}

/* Especificidad: 013-013 */
main>section article[data-state="flip"],
main>section article[data-state="revealed"] {
    /* Warning en el Validador CSS: "Ningún color establecido pero si un background-color"
        Herencia de color:#05435e de estilo.css para los h3) 
    */
    background-color: #05435e;
    transform: rotateY(180deg);
}

/* Especificidad: 004-004 */
main>section article>h3,
main>section article>img {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    backface-visibility: hidden;
}

/* Especificidad: 004 */
main>section article>h3 {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Especificidad: 004 */
main>section article>img {
    transform: rotateY(180deg);
    /* Hereda de estilo.css y lo sobreescribimos Cascada!!*/
    max-width: none;
}

/* Modificacion para dispositivos con resolucion baja (moviles) */
@media all and (max-width: 520px) {

    /* Especificidad: 004 */
    main>section article>h3 {
        font-size: 1em;
    }

    /* Especificidad: 003 */
    main>section article {
        height: 10em;
        /* Warning: Redefinition of height
            Esta propiedad se redefine a la antes puesta (height: 15em)
            para mejorar la adaptabilidad
        */
    }

}