/* Datos personales: Didier Reyes Castro - UO287866 */
/* Color palette: https://www.canva.com/colors/color-palettes/summer-splash/ */

/* Especificidad: 012 */
main>article:last-child {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 2em;
}

/* Especificidad: 013 */
main>article:last-child>h3 {
    flex: 1 100%;
    margin-bottom: 2em;
}

/* Especificidad: 013 */
main>article:last-child>section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 2em;
    max-width: 12em;

    /* Warning en el Validador CSS: "Ningún color establecido pero si un background-color"
        El color viene heredado por body en estilo.css para los diferentes h4,h5
        (que luego su color son redefinidos en esta hoja de estilo para mantener el contraste
        de colores)
    */
    background-color: rgb(238, 238, 238);

    margin-bottom: 2em;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.8);

}

/* Especificidad: 014 */
main>article:last-child>section>h4 {
    flex: 1 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    /* Warning en el Validador CSS: "Ningún background-color establecido pero si un color"
        El color viene heredado por la seccion en la que se encuentra. En este caso es
        rgb(238, 238, 238) que se encuentra definido en esta hoja de estilo.
    */
}

/* Especificidad: 014 */
main>article:last-child>section>img {

    /* Warning en el Validador CSS: "Ningún color establecido pero si un background-color"
        En este caso el color no es necesario ya que se trata de una imagen, pero el color
        heredado sería el por defecto "black"
    */
    background-color: #92d4db;
    border-radius: 5em;
    box-shadow: 0.01em 0.01em 0.5em rgba(0, 0, 0, 0.5);
    flex: 1 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Especificidad: 014 */
main>article:last-child>section>section {
    display: flex;
    align-items: center;
    width: 10em;
    flex-flow: row nowrap;
}

/* Especificidad: 015 */
main>article:last-child>section>section>img {
    height: 2em;
}

/* Especificidad: 015 */
main>article:last-child>section>section>h5 {
    margin-left: 1em;
    font-size: 1em;
}