main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main>h3 {
    flex: 1 100%;
    text-align: center;
}

main>section {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0;
    border: 0.3em solid black;
}

main>section p {
    padding: 1.5em;
    text-align: center;
    margin: 0;
    border: 1px solid gray;
}

main>section p[data-state="clicked"],
main>section p[data-state="correct"] {
    border: solid;
    border-width: 1px;
    border-color: red;
}

@media all and (max-width: 550px) {

    main>section p {
        padding: 1em;
    }
}