/* Datos personales: Didier Reyes Castro - UO287866 */
/* Color palette: https://www.canva.com/colors/color-palettes/summer-splash/ */

/* Especificidad: 013-013 */
main>section:first-of-type button,
main>section:nth-of-type(2) button {
    display: block;
    margin-bottom: 2em;
}


/* Especificidad: 013-013 */
main>section:nth-of-type(2) section,
main>section:nth-of-type(4) section {
    height: 25em;
    width: 100%;
}

/* Especificidad: 024-023-013 */
main>section:nth-of-type(3)>input:first-of-type~section,
main>section:nth-of-type(3)>input:first-of-type,
main>section:nth-of-type(4) input {
    margin-bottom: 1em;
}

/* Carrusel */

/* Especificidad: 001 */
article {
    width: 100%;
    max-width: 100vh;
    height: 70vh;
    position: relative;
    overflow: hidden;
    /* <===  */
    border-radius: 1em;
}

/* Especificidad: 002 */
article h3 {
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 2em;
}

/* Especificidad: 002 */
article img {
    width: 100%;
    max-width: 100vh;
    height: 60vh;
    position: absolute;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 0.5em;
}

/* Especificidad: 002 */
article button {
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    /* Warning en el Validador CSS: "Ningún color establecido pero si un background-color"
        Herencia de color:black por defecto de botones (estilo.css)
    */
    background-color: #fff;
    font-size: 1em;
}

/* Especificidad: 012 */
article button:active {
    transform: scale(1.1);
}

/* Especificidad: 012 */
article button[data-action=prev] {
    top: 50%;
    left: 2%;
}

/* Especificidad: 012 */
article button[data-action=next] {
    top: 50%;
    right: 2%;
}

/* XML CSS*/

/* Especificidad: 024 */
main>section:nth-of-type(3)>input:first-of-type~section {
    display: flex;
    flex-direction: column;
    border: solid 0.4em #75E6DA;
    border-radius: 0.5em;
    max-width: 50em;
    background-color: white;
    /* Warning en el Validador CSS: "Ningún color establecido pero si un background-color"
        Herencia de color:black para los p. 
        En el caso de los h4,h5,h6 son definidos en esta hoja de estilo. (selector de abajo)
    */
}

/* Especificidad: 025-001-001 */
main>section:nth-of-type(3)>input:first-of-type~section>h4,
h5,
h6 {
    /* Warning en el Validador CSS: "Ningún backgroundcolor establecido pero si un background-color"
        Herencia de color:#white definido en el anterior selector
    */
    color: #05445E;
}

/* Especificidad: 025 */
main>section:nth-of-type(3)>input:first-of-type~section>h4 {
    background-color: #75E6DA;
    margin: 0;
    padding: 1em 1em 1em 0.7em;
    font-size: 1.4em;
}

/* Especificidad: 025 */
main>section:nth-of-type(3)>input:first-of-type~section>section {
    padding: 1em
}

/* Especificidad: 001 */
h5 {
    font-size: 1.3em;
    margin: 0;
}

/* Especificidad: 001 */
h6 {
    font-size: 1.1em;
    margin-top: 1.2em;
    margin-bottom: 0;
}

/* Especificidad: 001 */
h6~* {
    margin-left: 1.4em;
}

/* Especificidad: 025 */
main>section:nth-of-type(3)>input:first-of-type~section img {
    width: auto;
    max-height: 30em;
    margin-bottom: 2em;
}