/* Datos personales: Didier Reyes Castro - UO287866 */
/* Color palette: https://www.canva.com/colors/color-palettes/summer-splash/ */

/* Especificidad: 013-013 */
main>section:nth-of-type(2) section,
main>section:nth-of-type(4) section {
    height: 25em;
    width: 100%;
}

/* Especificidad: 013 */
main>section:nth-of-type(4) input {
    margin-bottom: 2em;
}